<!DOCTYPE html>
<html lang="en-us"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modals">
    <!-- Find Item Modal -->
    <div class="modal fade" id="find-item-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Finding Items</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="item_id"> Item ID</label>
                                <input id="item_id" type="text" class="form-control" value=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="item_name">Item Name</label>
                                <input id="item_name" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="stock_type">Stock Type</label>
                                <input id="stock_type" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <input id="category" type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cost_method">Cost Method</label>
                                <input id="cost_method" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="checkbox style-0">
                                        <span>Inactive</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <a id="btnFind" class="btn btn-labeled btn-primary" data-toggle="modal"
                               data-target="#listing-modal"><span class="btn-label">
                                            <i class="glyphicon glyphicon-search"></i></span>Find</a>
                            <a class="btn btn-labeled btn-danger" data-dismiss="modal"> <span class="btn-label">
                                            <i class="glyphicon glyphicon-remove-circle"></i></span> Cancel </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Listing Modal -->
    <div class="modal" id="listing-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">Fiplus Khmer</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table id="tblListing" class="table table-bordered table-hover">
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</th:block>

<th:block th:fragment="create-unit-measure">
    <!-- <form id="create-unit-measure"> -->
        <!-- UNIT MEASURE MODAL -->
        <div class="modal fade" id="create-unit-measure-modal" tabindex="-1" role="dialog"
             aria-labelledby="modal-label" aria-hidden="true">
            <!-- MODAL DIALOG -->
            <div class="modal-dialog">
                <!-- MODAL CONTENT -->
                <div class="modal-content">
                    <!-- MODAL HEADER -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="modal-label">Unit Measure Setup</h4>
                    </div>
                    <!-- END MODAL HEADER -->
                    <!-- MODAL BODY -->
                    <div class="modal-body no-padding">
                    <form id="create-unit-measure" class="smart-form">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-3" for="unit_measure_id">Unit Measure ID</label>
                                    <div class="col col-9">
                                        <label class="input">
                                            <input id="unit_measure_id" name="unit_measure_id" type="text" readonly/>
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                    <label class="label col col-3" for="unit_measure_name">Unit Measure Name</label>
                                    <div class="col col-9">
                                        <label class="input">
                                            <input id="unit_measure_name" name="unit_measure_name" type="text"/>
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                    <label class="label col col-3" for="remark">Remark</label>
                                    <div class="col col-9">
                                        <label class="input">
                                            <input id="remark" name="remark" type="text"/>
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="row">
                                    <div class="col col-3"></div>
                                    <div class="col col-9">
                                        <label class="checkbox">
                                            <input type="checkbox" name="inactive" id="inactive"><i></i>Inactive
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </form>
                    </div>
                    <!-- END MODAL BODY -->
                    <!-- MODAL FOOTER -->
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="btn-save-unit-measure" type="submit" form="create-unit-measure" class="btn btn-labeled btn-primary">
                                    <span class="btn-label"><i class="glyphicon glyphicon-floppy-save"></i></span> Save</button>
                                <a id="btn-close-modal" class="btn btn-labeled btn-danger" data-dismiss="modal">
                                    <span class="btn-label"><i class="glyphicon glyphicon-remove-circle"></i></span> Close</a>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL FOOTER -->
                </div>
                <!-- END MODAL CONTENT -->
            </div>
            <!-- END MODAL DIALOG -->
        </div>
        <!-- END UNIT MEASURE MODAL -->
    <!-- </form> -->
    <!-- END FORM -->
</th:block>

<th:block th:fragment="add-item-modal">
    <div class="modal" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <form id="frm-add-item-modal" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title">Add Item <span id="status" class="label label-success" aria-valuetext="[new]" data-loading-text="">[new]</span></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <div class="input-group">
                                <div class="input-group-btn" style="min-width: 120px;">
                                    <label class="form-control ctl_label">Item Code:</label>
                                </div>
                                <input id="md-item-code" name="md_item_code" type="text" class="form-control ctl_textbox"
                                       oninput="this.value = this.value.toUpperCase()" tabindex="1" maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top: 10px">
                            <input id="md-item-name" name="md_item_name" class="form-control ctl_textbox" type="text"
                                   value="iPhone 5s Earphone" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <div class="input-group">
                                <div class="input-group-btn" style="min-width: 120px;">
                                    <label class="form-control ctl_label">Rate:</label>
                                </div>
                                <input id="md-item-rate" class="form-control ctl_textbox" type="number" tabindex="2"
                                       placeholder="0.00">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <div class="input-group">
                                <div class="input-group-btn" style="min-width: 120px;">
                                    <label class="form-control ctl_label">Qty:</label>
                                </div>
                                <input id="md-item-qty" name="md_item_qty" class="form-control ctl_textbox" type="number" tabindex="3"
                                       placeholder="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <div class="input-group">
                                <div class="input-group-btn" style="min-width: 120px;">
                                    <label class="form-control ctl_label">Discount:</label>
                                </div>
                                <input id="md-item-disc" name="md_item_disc" class="form-control ctl_textbox" type="number" tabindex="4"
                                       placeholder="0.00">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <div class="input-group">
                                <div class="input-group-btn" style="min-width: 120px;">
                                    <label class="form-control ctl_label">Sub.Amt:
                                    </label>
                                </div>
                                <input id="md-item-subAmt" name="md_item_subAmt" class="form-control ctl_textbox" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 10px">
                            <div class="input-group">
                                <div class="input-group-btn" style="min-width: 120px;">
                                    <label class="form-control ctl_label">Total.Amt:
                                    </label>
                                </div>
                                <input id="md-item-totalAmt" name="md_item_totalAmt" class="form-control ctl_textbox" type="text" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <button id="md-btn-add-item" type="submit" form="frm-add-item-modal" class="btn btn-labeled btn-success" tabindex="5">
                                <span class="btn-label"><i class="glyphicon glyphicon-plus-sign"></i></span>Add</button>
                            <a class="btn btn-default" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>