<!DOCTYPE html>
<html th:with="active_page = 'customers'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="fragments/head :: head" />
    <body class="smart-style-4">
        <!-- HEADER -->
        <header id="header">
            <th:block th:include="fragments/head :: logo" />
            <th:block th:include="fragments/head :: toggle"/>
        </header>
        <!-- END HEADER -->

        <!-- NAVIGATION -->
        <aside id="left-panel">
            <!-- USER INFORMATION -->
            <div class="login-info">
                <span>
                    <a href="" id="show-shortcut" data-action="toggleShortcut">
                        <img src="img/avatars/sunny.png" alt="me" class="online" />
                        <span>
                            Hunridolla
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </span>
            </div>
            <!-- END USER INFORMATION -->
            <th:block th:include="fragments/nav :: nav" />
            <span class="minifyme" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>
        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div>
                <ol class="breadcrumb">
                    <li><button id="btn-new-customer" class="btn btn-sm btn-success" ><i class="fa fa-plus"></i> New</button></li>
                    <li><button id="btn-save-customer" type="submit" form="frm-create-customer" class="btn btn-sm btn-success" ><i class="fa fa-check"></i> Commit</button></li>
                    <li><button id="btn-find-customer" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#find-customer-modal"><i class="fa fa-search"></i> Find</button></li>
                </ol>
            </div>
            <!-- END RIBBON -->
            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false"
                                data-widget-colorbutton="false" data-widget-deletebutton="false"
                                data-widget-togglebutton="true">
                                <header>
                                    <ul class="nav nav-tabs pull-left in">
                                        <li class="active">
                                            <a id="tab-create-customer" data-toggle="tab" href="#create-customer">
                                                <i class="fa fa-lg fa-plus"></i> Create Customer </span></a>
                                        </li>
                                        <li>
                                            <a id="tab-customer-list" data-toggle="tab" href="#customer-list">
                                                <i class="fa fa-lg fa-list"></i> Customer List </a>
                                        </li>
                                    </ul>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="tab-content">
                                            <!-- start tab -->
                                            <div class="tab-pane active" id="create-customer">
                                                <form id="frm-create-customer" class="smart-form padding-5"
                                                    novalidate="novalidate">
                                                    <header>
                                                        <h3>Customer</h3>
                                                    </header>
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Customer ID</label>
                                                                <label for="customer_id" class="input">
                                                                    <input type="text" name="customer_id" id="customer_id"
                                                                        readonly>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label">Company Name</label>
                                                                <label for="company_name" class="input">
                                                                    <input type="text" name="company_name" id="company_name"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Company Name (Khmer)</label>
                                                                <label for="company_name_khmer" class="input">
                                                                    <input type="text" name="company_name_khmer"
                                                                        id="company_name_khmer">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Title</label>
                                                                <label class="select">
                                                                    <select name="title" id="title">
                                                                        <option value="Mss." selected> Mss.</option>
                                                                        <option value="Mrs."> Mrs.</option>
                                                                        <option value="Miss."> Miss.</option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-8">

                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label">First Name</label>
                                                                <label for="first_name" class="input">
                                                                    <input type="text" name="first_name" id="first_name">
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Last Name</label>
                                                                <label for="last_name" class="input">
                                                                    <input type="text" name="last_name" id="last_name">
                                                                </label>
                                                            </section>
                                                        </div>

                                                    </fieldset>
                                                    <fieldset id="invoice-container">
                                                        <h3>Contact Information</h3>
                                                    </fieldset>
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label">Contact</label>
                                                                <label for="contact" class="input">
                                                                    <input type="text" name="contact" id="contact"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Phone</label>
                                                                <label for="phone" class="input">
                                                                    <input type="text" name="phone" id="phone"
                                                                           data-mask="(999) 999-9999 " placeholder="">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label">Email</label>
                                                                <label for="email" class="input">
                                                                    <input type="text" name="email" id="email"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Website</label>
                                                                <label for="website" class="input">
                                                                    <input type="text" name="website" id="website"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <section>
                                                            <label class="label">Address Detail</label>
                                                            <label for="address-detail" class="input">
                                                                <input type="text" name="address-detail" id="address-detail"
                                                                    placeholder="">
                                                            </label>
                                                        </section>
                                                        <section>
                                                            <label class="label">Remark</label>
                                                            <label for="remark" class="input">
                                                                <input type="text" name="remark" id="remark" placeholder="">
                                                            </label>
                                                        </section>
                                                        <section> <!--class="col col-4"-->
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="inactive" id="inactive"><i></i>Inactive
                                                            </label>
                                                        </section>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- end tab -->

                                            <!-- start tab -->
                                            <div class="tab-pane" id="customer-list">
                                                <div class="table-responsive padding-5">
                                                    <table id="tbl_customers" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Customer ID</th>
                                                                <th>Company Name</th>
                                                                <th>Company Name (Khmer)</th>
                                                                <th>Contact Name</th>
                                                                <th>Phone</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end tab -->

                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->
                        </article>
                    </div>
                    <!-- end row -->
                </section>
                <!-- end widget grid -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->
        <th:block th:include="fragments/foot :: foot" />
    </body>
</html>