<!DOCTYPE html>
<html th:with="active_page = 'exchange-rate'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="fragments/head :: head" />
    <body class="smart-style-4">
        <!-- HEADER -->
        <header id="header">
            <th:block th:include="fragments/head :: logo" />
            <th:block th:include="fragments/head :: toggle"/>
        </header>
        <!-- END HEADER -->

        <!-- NAVIGATION -->
        <aside id="left-panel">
            <!-- USER INFORMATION -->
            <div class="login-info">
                                <span>
                                    <a href="" id="show-shortcut" data-action="toggleShortcut">
                                        <img src="img/avatars/sunny.png" alt="me" class="online" />
                                        <span>
                                            Hunridolla
                                        </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </span>
            </div>
            <!-- END USER INFORMATION -->
            <th:block th:include="fragments/nav :: nav" />
            <span class="minifyme" data-action="minifyMenu">
                                <i class="fa fa-arrow-circle-left hit"></i>
                            </span>
        </aside>
        <!-- END NAVIGATION -->
        <!-- MAIN PANEL -->
        <div id="main" role="main">

            <!-- RIBBON -->
            <div>
                <ol class="breadcrumb">
                    <li><button id="btn-new-exchange-rate" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New</button></li>
                    <li><button id="btn-save-exchange-rate" type="submit" form="frm-create-exchange-rate" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Commit</button></li>
                    <li><button id="btn-find-exchange-rate" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#find-item-modal"><i class="fa fa-search"></i> Find</button></li>
                </ol>
            </div>
            <!-- END RIBBON -->

            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                                data-widget-colorbutton="false" data-widget-deletebutton="true"
                                data-widget-togglebutton="true">
                                <header>
                                    <ul class="nav nav-tabs pull-left in">
                                        <li class="active">
                                            <a id="tab-create-exchange-rate" data-toggle="tab" href="#create-exchange-rate">
                                                <i class="fa fa-lg fa-plus"></i> Exchange Rate </a>
                                        </li>
                                        <li>
                                            <a id="tab-exchange-rate-list" data-toggle="tab" href="#exchange-rate-list">
                                                <i class="fa fa-lg fa-list"></i> Exchange Rate List</a>
                                        </li>
                                    </ul>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <input class="form-control" type="text">
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="create-exchange-rate">
                                                <form id="frm-create-exchange-rate" class="smart-form" novalidate="novalidate">
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Exchange ID</label>
                                                                <label for="exchange-rate-id" class="input">
                                                                    <input type="text" id="exchange-rate-id" name="exchange_rate_id"
                                                                           readonly>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Currency</label>
                                                                <label class="select">
                                                                    <select id="ex-type" name="ex_type">
                                                                        <option value="USD-KHR" selected="true">USD-KHR</option>
                                                                        <option value="THB-KHR">THB-KHR</option>
                                                                        <option value="USD-THB">USD-THB</option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Effective Date</label>
                                                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                                    <input type="text" id="effective-date" name="effective_date">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Buy Rate</label>
                                                                <label for="buy-rate" class="input">
                                                                    <input type="number" name="buy_rate" id="buy-rate"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Sell Rate</label>
                                                                <label for="sell-rate" class="input">
                                                                    <input type="number" name="sell_rate" id="sell-rate"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Mid Rate</label>
                                                                <label for="mid-rate" class="input">
                                                                    <input type="number" name="mid_rate" id="mid-rate"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="tab-pane" id="exchange-rate-list">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->
                        </article>
                        <!-- WIDGET END -->
                    </div>
                    <!-- end row -->
                </section>
                <!-- end widget grid -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->
        <th:block th:include="fragments/foot :: foot" />
    </body>
</html>