<!DOCTYPE html>
<html th:with="active_page = 'invoices'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="fragments/head :: head" />
    <body class="smart-style-4">
        <!-- HEADER -->
        <header id="header">
            <th:block th:include="fragments/head :: logo" />
            <th:block th:include="fragments/head :: toggle"/>
        </header>
        <!-- END HEADER -->

        <!-- NAVIGATION -->
        <aside id="left-panel">
            <!-- USER INFORMATION -->
            <div class="login-info">
                <span>
                    <a href="" id="show-shortcut" data-action="toggleShortcut">
                        <img src="img/avatars/sunny.png" alt="me" class="online" />
                        <span>Hunridolla</span><i class="fa fa-angle-down"></i>
                    </a>
                </span>
            </div>
            <!-- END USER INFORMATION -->
            <th:block th:include="fragments/nav :: nav" />
            <span class="minifyme" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>
        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div>
                <ol class="breadcrumb">
                    <li><button id="btn-new-invoice" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New</button></li>
                    <li><button id="btn-save-invoice" type="submit" form="frm-create-invoice" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Commit</button></li>
                    <li><button id="btn-print-invoice" class="btn btn-sm btn-success"><i class="fa fa-print"></i> Print</button></li>
                    <li><button id="btn-find-invoice" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#find-item-modal"><i class="fa fa-search"></i> Find</button></li>
                </ol>
            </div>
            <!-- END RIBBON -->
            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                            <div id="wid-id-0"  class="jarviswidget jarviswidget-color-white" data-widget-editbutton="false"
                            data-widget-colorbutton="false" data-widget-deletebutton="false"
                            data-widget-togglebutton="true">
                                <header>
                                    <ul class="nav nav-tabs pull-left in">
                                        <li class="active">
                                            <a id="tab-create-invoice" data-toggle="tab" href="#create-invoice">
                                                <i class="fa fa-lg fa-plus"></i> Create Invoice</a>
                                        </li>
                                        <li>
                                            <a id="tab-invoice-list" data-toggle="tab" href="#invoice-list">
                                                <i class="fa fa-lg fa-list"></i> Invoice List</a>
                                        </li>
                                    </ul>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                        <input class="form-control" type="text">
                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="create-invoice">
                                                <form id="frm-create-invoice" class="smart-form" novalidate="novalidate">
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">Invoice ID</label>
                                                                <label for="invoice-id" class="input">
                                                                    <input type="text" name="invoice_id" id="invoice-id" readonly>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Invoice Date:</label>
                                                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                                    <input type="text" id="invoice-date" name="invoice_date" >
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Customer</label>
                                                                <label class="select">
                                                                    <select id="customers" name="customers" >
                                                                        <option th:each="data :${customers}"
                                                                                th:value="${data.customer_id}"
                                                                                th:text="${data.company_name}">
                                                                        </option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Seller</label>
                                                                <label class="select">
                                                                    <select id="seller" name="seller">
                                                                        <option th:each="data :${users}"
                                                                                th:value="${data.user_id}"
                                                                                th:text="${data.user_name}">
                                                                        </option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Ship Date</label>
                                                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                                                    <input type="text" name="ship_date" id="ship-date">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Ship To</label>
                                                                <label for="ship-to" class="input">
                                                                    <input type="text" name="ship_to" id="ship-to">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Remark</label>
                                                                <label for="remark" class="input">
                                                                    <input type="text" name="remark" id="remark">
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <div style="margin:0px 0px 10px 0px;">
                                                            <a id="btn-add-invoice-item" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add Items</a>
                                                        </div>
                                                        <div class="table-responsive">
                                                            <table id="tbl-invoice-item" class="table table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Action</th>
                                                                    <th>Item.Code</th>
                                                                    <th>Description</th>
                                                                    <th>Qty</th>
                                                                    <th>Rate</th>
                                                                    <th>Disc.Value</th>
                                                                    <th>Sub.Amt</th>
                                                                    <th>Total.Amt</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-8">
                                                            </section>
                                                            <section class="col col-2">
                                                                <label class="label">Sub Amount:</label>
                                                            </section>
                                                            <section class="col col-2">
                                                                <label for="total-subAmt" class="input">
                                                                    <input id="total-subAmt" name="total_subAmt" type="text" readonly>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-8">
                                                            </section>
                                                            <section class="col col-2">
                                                                <label class="label">Discount:</label>
                                                            </section>
                                                            <section class="col col-2">
                                                                <label for="total-disc" class="input">
                                                                    <input id="total-disc" name="total_disc" type="text" readonly>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-8">
                                                            </section>
                                                            <section class="col col-2">
                                                                <label class="label">Grand Amount:</label>
                                                            </section>
                                                            <section class="col col-2">
                                                                <label for="total-amt" class="input">
                                                                    <input id="total-amt" name="total_amt" type="text" readonly>
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!--TAB LIST-->
                                            <div class="tab-pane" id="invoice-list">

                                            </div>
                                            <!--END-->
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->
                        </article>
                    </div>
                    <!-- end row -->
                </section>
                <!-- end widget grid -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->
        <th:block th:include="fragments/modals :: add-item-modal"/>
        <th:block th:include="fragments/foot :: foot" />
    </body>
</html>