<!DOCTYPE html>
<html th:with="active_page = 'items'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="fragments/head :: head" />
    <body class="smart-style-4">
        <!-- HEADER -->
        <header id="header">
            <th:block th:include="fragments/head :: logo" />
            <th:block th:include="fragments/head :: toggle"/>
        </header>
        <!-- END HEADER -->

        <!-- NAVIGATION -->
        <aside id="left-panel">
            <!-- USER INFORMATION -->
            <div class="login-info">
                        <span>
                            <a href="" id="show-shortcut" data-action="toggleShortcut">
                                <img src="img/avatars/sunny.png" alt="me" class="online" />
                                <span>
                                    Hunridolla
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </span>
            </div>
            <!-- END USER INFORMATION -->
            <th:block th:include="fragments/nav :: nav" />
            <span class="minifyme" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>
        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div>
                <ol class="breadcrumb">
                    <li><button id="btn-new-item" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New</button></li>
                    <li><button id="btn-save-item" type="submit" form="frm-create-item" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Commit</button></li>
                    <li><button id="btn-find-item" class="btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#find-item-modal"><i class="fa fa-search"></i> Find</button></li>
                </ol>
            </div>
            <!-- END RIBBON -->

            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                        <!-- NEW WIDGET START -->
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                                data-widget-colorbutton="false" data-widget-deletebutton="true"
                                data-widget-togglebutton="true">
                                <header>
                                    <ul class="nav nav-tabs pull-left in">
                                        <li class="active">
                                            <a id="tab-create-item" data-toggle="tab" href="#create-item">
                                                <i class="fa fa-lg fa-plus"></i> Create Item </span></a>
                                        </li>
                                        <li>
                                            <a id="tab-item-list" data-toggle="tab" href="#item-list">
                                                <i class="fa fa-lg fa-list"></i> Item List </a>
                                        </li>
                                    </ul>
                                </header>

                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                        <input class="form-control" type="text">
                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="tab-content">
                                            <!-- start tab create item -->
                                            <div class="tab-pane active" id="create-item">
                                                <form id="frm-create-item" class="smart-form" novalidate="novalidate">
                                                    <fieldset>
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">Stock Types</label>
                                                                <label class="select">
                                                                    <select name="stock_type" id="stock_type">
                                                                        <option th:each="stockType :${stockTypes}"
                                                                            th:value="${stockType.stock_type_id}"
                                                                            th:text="${stockType.stock_type_name}"></option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-3">
                                                                <label class="label">Item ID</label>
                                                                <label for="item_id" class="input">
                                                                    <input type="text" name="item_id" id="item_id"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Item Name</label>
                                                                <label for="item_name" class="input">
                                                                    <input type="text" name="item_name" id="item_name"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Categories</label>
                                                                <label class="select">
                                                                    <select name="category_id" id="category_id">
                                                                        <option th:each="data :${categories}"
                                                                            th:value="${data.category_id}"
                                                                            th:text="${data.category_name}"></option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Unit Measure</label>
                                                                <label class="select">
                                                                    <select name="um" id="um">
                                                                        <option th:each="data :${unit_measures}"
                                                                            th:value="${data.unit_measure_id}"
                                                                            th:text="${data.unit_measure_name}"></option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Cost Methods</label>
                                                                <label class="select">
                                                                    <select name="cost_method" id="cost_method">
                                                                        <option th:each="data :${cost_methods}"
                                                                            th:value="${data.cost_method_id}"
                                                                            th:text="${data.cost_method_name}"></option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Cost</label>
                                                                <label for="cost" class="input">
                                                                    <input type="number" name="cost" id="cost"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Sale Price</label>
                                                                <label for="sale_price" class="input">
                                                                    <input type="number" name="sale_price" id="sale_price"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Prefered Supplier</label>
                                                                <label class="select">
                                                                    <select name="prefered_supplier" id="prefered_supplier">
                                                                        <option th:each="data :${prefered_supplier}"
                                                                            th:value="${data.vendor_id}"
                                                                            th:text="${data.company_name}"></option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Minimum Balance</label>
                                                                <label for="min_balance" class="input">
                                                                    <input type="number" name="min_balance" id="min_balance"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Maximum Balance</label>
                                                                <label for="max_balance" class="input">
                                                                    <input type="number" name="max_balance" id="max_balance"
                                                                        placeholder="0.00">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Bar Code</label>
                                                                <label for="barcode" class="input">
                                                                    <input type="text" name="barcode" id="barcode"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="label">Remark</label>
                                                                <label for="remark" class="input">
                                                                    <input type="text" name="remark" id="remark"
                                                                        placeholder="">
                                                                </label>
                                                            </section>
                                                            <section class="col col-4">
                                                                <label class="label">Image</label>
                                                                <div class="input input-file">
                                                                    <span class="button"><input type="file" id="item-image"
                                                                            onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input
                                                                        type="text" readonly>
                                                                </div>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label class="checkbox">
                                                                    <input name="inactive" id="inactive" type="checkbox"
                                                                        class="checkbox style-0">
                                                                    <span>Inactive</span>
                                                                    <input name="inactive" type='hidden' value='0'
                                                                        class="checkbox style-0">
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <!-- end tab create item -->

                                            <!-- start tab item list -->
                                            <div class="tab-pane" id="item-list">
                                                <div class="table-responsive padding-5">
                                                    <table id="tbl_items" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Item ID</th>
                                                                <th>Item Name</th>
                                                                <th>Category</th>
                                                                <th>Unit Measure</th>
                                                                <th>Cost Methods</th>
                                                                <th>Cost</th>
                                                                <th>Sale Price</th>
                                                                <th>BarCode</th>
                                                                <th>Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- end tab item list -->
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- END WIDGET -->
                        </article>
                        <!-- WIDGET END -->
                    </div>
                    <!-- END ROW -->
                </section>
                <!-- END WIDGET GRID -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->
        <th:block th:include="fragments/foot :: foot" />
    </body>
</html>