<!DOCTYPE html>
<html th:with="active_page = 'purchase-orders'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head :: head" />

<body class="smart-style-4">
<!-- #HEADER -->
<header id="header">
    <th:block th:include="fragments/head :: logo" />

    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i
                        class="fa fa-reorder"></i></a>
                </span>
        </div>
        <!-- end collapse menu -->

        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="img/avatars/sunny.png" alt="John Doe" class="online" />
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i
                                class="fa fa-cog"></i>
                            Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i
                                class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"
                           data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"
                           data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5"
                           data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i>
                            <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="login.html" title="Sign Out" data-action="userLogout"
                          data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
                        class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->

        <!-- #SEARCH -->
        <!-- input: search field -->
        <form action="search.html" class="header-search pull-right">
            <input id="search-fld" type="text" name="param" placeholder="Find reports and more">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i
                    class="fa fa-times"></i></a>
        </form>
        <!-- end input: search field -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i
                        class="fa fa-arrows-alt"></i></a>
                </span>
        </div>
        <!-- end fullscreen button -->

        <!-- #Voice Command: Start Speech -->
        <div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
            <div>
                <a href="javascript:void(0)" title="Voice Command" data-action="voiceCommand"><i
                        class="fa fa-microphone"></i></a>
                <div class="popover bottom">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <h4 class="vc-title">Voice command activated <br>
                            <small>Please speak clearly into the mic</small>
                        </h4>
                        <h4 class="vc-title-error text-center">
                            <i class="fa fa-microphone-slash"></i> Voice command failed
                            <br>
                            <small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
                            <br>
                            <small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
                        </h4>
                        <a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See
                            Commands</a>
                        <a href="javascript:void(0);" class="btn bg-color-purple txt-color-white"
                           onclick="$('#speech-btn .popover').fadeOut(50);">Close
                            Popup</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end voice command -->
    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- UserModel info -->
    <div class="login-info">
            <span>
                <!-- UserModel image size is adjusted inside CSS, it should stay as it -->

                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                    <img src="img/avatars/sunny.png" alt="me" class="online" />
                    <span>
                        john.doe
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>

            </span>
    </div>
    <!-- end user info -->
    <th:block th:include="fragments/nav :: nav" />
    <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

</aside>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- RIBBON -->
    <div>
        <ol class="breadcrumb">
            <li><a id="btn-new-purchase-order" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New</a></li>
            <li><a id="btn-save-purchase-order" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Commit</a></li>
            <li><a id="btn-find-purchase-order" class="btn btn-sm btn-primary" data-toggle="modal"
                   data-target="#find-item-modal"><i class="fa fa-search"></i> Find</a></li>
        </ol>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-10">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false"
                         data-widget-colorbutton="false" data-widget-deletebutton="false"
                         data-widget-togglebutton="true">
                        <header>
                            <ul class="nav nav-tabs pull-left in">
                                <li class="active">
                                    <a id="tab-create-purchase-order" data-toggle="tab" href="#create-purchase-order">
                                        <i class="fa fa-lg fa-plus"></i> Purchase Order</a>
                                </li>
                                <li>
                                    <a id="tab-purchase-order-list" data-toggle="tab" href="#purchase-order-list">
                                        <i class="fa fa-lg fa-list"></i> Purchase Order List</a>
                                </li>
                            </ul>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                                <input class="form-control" type="text">
                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div class="tab-content">
                                    <!--TAB MAIN-->
                                    <div class="tab-pane active" id="create-purchase-order">
                                        <form id="frm-purchase-order" class="smart-form" novalidate="novalidate">
                                            <header>
                                                <h3> Purchase Order </h3>
                                            </header>
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Purchase ID</label>
                                                        <label for="purchase-id" class="input">
                                                            <input type="text" name="purchase-id" id="purchase-id" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Purchase Date:</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" name="date" id="purchase-date">
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Ref.No</label>
                                                        <label for="ref-no" class="input">
                                                            <input type="text" name="ref-no" id="ref-no">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Remark</label>
                                                        <label for="Remark" class="input">
                                                            <input type="text" name="remark" id="remark">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Vendors</label>
                                                        <label class="select">
                                                            <select name="vendors" id="vendors">
                                                                <option th:each="data :${vendors}"
                                                                        th:value="${data.vendor_id}"
                                                                        th:text="${data.company_name}"></option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Address</label>
                                                        <label for="address" class="input">
                                                            <input type="text" name="address" id="address">
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div style="margin:0px 0px 10px 0px;">
                                                    <a id="btn-add-items" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add Purchase Items</a>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="purchase-item" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>Action</th>
                                                            <th>Item.Code</th>
                                                            <th>Description</th>
                                                            <th>Qty</th>
                                                            <th>Rate</th>
                                                            <th>Disc.Value</th>
                                                            <th>Sub.Amt</th>
                                                            <th>Total.Amt</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-8">
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label">Sub Amount:</label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label for="total-subAmt" class="input">
                                                            <input type="text" id="total-subAmt" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-8">
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label">Discount:</label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label for="total-disc" class="input">
                                                            <input type="text" name="total-disc" id="total-disc" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-8">
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label">Grand Amount:</label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label for="total-amt" class="input">
                                                            <input type="text" name="total-amt" id="total-amt" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <!--END-->

                                    <!--TAB LIST-->
                                    <div class="tab-pane" id="purchase-order-list">

                                    </div>
                                    <!--END-->
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->

<!-- MODALS -->
<div class="modal" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h5 class="modal-title" id="modal-label">Add Item <span id="status" class="label label-success"
                                                                        aria-valuetext="[new]" data-loading-text="">[new]</span></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px">
                        <div class="input-group">
                            <div class="input-group-btn" style="min-width: 120px;">
                                <label class="form-control ctl_label">Item Code:</label>
                            </div>
                            <input id="item-code" class="form-control ctl_textbox" type="text" oninput="this.value = this.value.toUpperCase()" tabindex="1" >
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px">
                        <input id="item-name" class="form-control ctl_textbox" type="text"
                               value="iPhone 5s Earphone" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px">
                        <div class="input-group">
                            <div class="input-group-btn" style="min-width: 120px;">
                                <label class="form-control ctl_label">Cost:</label>
                            </div>
                            <input id="item-cost" class="form-control ctl_textbox" type="number" tabindex="2"
                                   placeholder="0.00">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px">
                        <div class="input-group">
                            <div class="input-group-btn" style="min-width: 120px;">
                                <label class="form-control ctl_label">Qty:</label>
                            </div>
                            <input id="item-qty" class="form-control ctl_textbox" type="number" tabindex="3"
                                   placeholder="0.00">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px">
                        <div class="input-group">
                            <div class="input-group-btn" style="min-width: 120px;">
                                <label class="form-control ctl_label">Discount:</label>
                            </div>
                            <input id="item-disc" class="form-control ctl_textbox" type="number" tabindex="4"
                                   placeholder="0.00">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px">
                        <div class="input-group">
                            <div class="input-group-btn" style="min-width: 120px;">
                                <label class="form-control ctl_label">Sub.Amt:
                                </label>
                            </div>
                            <input id="item-subAmt" class="form-control ctl_textbox" type="text" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px">
                        <div class="input-group">
                            <div class="input-group-btn" style="min-width: 120px;">
                                <label class="form-control ctl_label">Total.Amt:
                                </label>
                            </div>
                            <input id="item-totalAmt" class="form-control ctl_textbox" type="text" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a id="btn-add-item" class="btn btn-labeled btn-success" tabindex="5"> <span
                                class="btn-label">
                                    <i class="glyphicon glyphicon-plus-sign"></i></span>Add</a>
                        <a class="btn btn-default" data-dismiss="modal">Close</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragments/foot :: foot" />
<script>

</script>
</body>
</html>