<!DOCTYPE html>
<html th:with="active_page = 'stock-in'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="fragments/head :: head" />
    <body class="smart-style-4">
        <!-- HEADER -->
        <header id="header">
            <th:block th:include="fragments/head :: logo" />
            <th:block th:include="fragments/head :: toggle"/>
        </header>
        <!-- END HEADER -->

        <!-- NAVIGATION -->
        <aside id="left-panel">
            <!-- USER INFORMATION -->
            <div class="login-info">
                        <span>
                            <a href="" id="show-shortcut" data-action="toggleShortcut">
                                <img src="img/avatars/sunny.png" alt="me" class="online" />
                                <span>
                                    Hunridolla
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </span>
            </div>
            <!-- END USER INFORMATION -->
            <th:block th:include="fragments/nav :: nav" />
            <span class="minifyme" data-action="minifyMenu">
                        <i class="fa fa-arrow-circle-left hit"></i>
                    </span>
        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- RIBBON -->
            <div>
                <ol class="breadcrumb">
                    <li><button id="btn-new-bill" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> New</button></li>
                    <li><button id="btn-save-bill" type="submit" form="frm-stock-in" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Commit</button></li>
                    <li><button id="btn-print-bill" class="btn btn-sm btn-success"><i class="fa fa-print"></i> Print</button></li>
                    <li><button id="btn-find-bill" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#find-item-modal"><i class="fa fa-search"></i> Find</button></li>
                </ol>
            </div>
            <!-- END RIBBON -->

            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- widget grid -->
                <section id="widget-grid" class="">
                    <!-- row -->
                    <div class="row">
                        <!-- NEW WIDGET START -->
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                                data-widget-colorbutton="false" data-widget-deletebutton="true"
                                data-widget-togglebutton="true">
                                <header>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <input class="form-control" type="text">
                                    </div>
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form id="frm-stock-in" class="smart-form" novalidate="novalidate">
                                            <header>
                                                <h3> Stock In </h3>
                                            </header>
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Bill ID</label>
                                                        <label for="bill_id" class="input">
                                                            <input type="text" name="bill_id" id="bill_id" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Date:</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" name="date" id="bill_date" placeholder="">
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Bill Due:</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" name="bill_due" id="bill_due" placeholder="">
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Ref.No</label>
                                                        <label for="ref_no" class="input">
                                                            <input type="text" name="ref_no" id="ref_no" placeholder="">
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Remark</label>
                                                        <label for="Remark" class="input">
                                                            <input type="text" name="remark" id="remark">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Vendors</label>
                                                        <label class="select">
                                                            <select name="vendors" id="vendors">
                                                                <option th:each="data :${vendors}"
                                                                        th:value="${data.vendor_id}"
                                                                        th:text="${data.company_name}"></option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Address</label>
                                                        <label for="address" class="input">
                                                            <input type="text" name="address" id="address" placeholder="">
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div style="margin:0px 0px 10px 0px;">
                                                    <a id="btn-add-stock-in-item" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add Stock Items</a>
                                                </div>
                                                <div class="table-responsive">
                                                    <table id="tbl-item-stock-in" class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Action</th>
                                                                <th>Item.Code</th>
                                                                <th>Description</th>
                                                                <th>Qty</th>
                                                                <th>Rate</th>
                                                                <th>Disc.Value</th>
                                                                <th>Sub.Amt</th>
                                                                <th>Total.Amt</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-8">
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label">Sub Amount:</label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label for="total-subAmt" class="input">
                                                            <input id="total-subAmt" name="total_subAmt" type="text" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-8">
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label">Discount:</label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label for="total-disc" class="input">
                                                            <input id="total-disc" name="total_disc" type="text" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-8">
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label">Grand Amount:</label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label for="total-amt" class="input">
                                                            <input id="total-amt" name="total_amt" type="text" readonly>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->
                        </article>
                        <!-- WIDGET END -->
                    </div>
                    <!-- end row -->
                </section>
                <!-- end widget grid -->
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->
        <th:block th:include="fragments/modals :: add-item-modal"/>
        <th:block th:include="fragments/foot :: foot" />
    </body>
</html>