<!DOCTYPE html>
<html th:with="active_page = 'unit-measures'" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:include="fragments/head :: head" />
    <body class="smart-style-4">
        <!-- HEADER -->
        <header id="header">
            <th:block th:include="fragments/head :: logo" />
            <th:block th:include="fragments/head :: toggle"/>
        </header>
        <!-- END HEADER -->

        <!-- NAVIGATION -->
        <aside id="left-panel">
            <!-- USER INFORMATION -->
            <div class="login-info">
                <span>
                    <a href="" id="show-shortcut" data-action="toggleShortcut">
                        <img src="img/avatars/sunny.png" alt="me" class="online" />
                        <span>
                            Hunridolla
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                </span>
            </div>
            <!-- END USER INFORMATION -->
            <th:block th:include="fragments/nav :: nav" />
            <span class="minifyme" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>
        </aside>
        <!-- END NAVIGATION -->

        <!-- MAIN PANEL -->
        <div id="main" role="main">
            <!-- MAIN CONTENT -->
            <div id="content">
                <!-- WIDGET GRID -->
                <section id="widget-grid" class="">
                    <!-- ROW FOR BUTTON CREATE -->
                    <div class="row" style="margin-bottom:10px;">
                        <!-- a blank row to get started -->
                        <div class="col-sm-12">
                            <a id="btn-new-unit-measure" class="btn btn-labeled btn-success" data-toggle="modal"
                                data-target="#create-unit-measure-modal"> <span class="btn-label">
                                <i class="glyphicon glyphicon-glass"></i></span> New Unit Measure</a>
                        </div>
                    </div>
                    <!-- END ROW FOR BUTTON CREATE -->
                    <!-- ROW FOR TABLE -->
                    <div class="row">
                        <!-- WIDGET-->
                        <article class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div id="wid-id-0" class="jarviswidget" data-widget-editbutton="false"
                                data-widget-colorbutton="false" data-widget-deletebutton="false"
                                data-widget-togglebutton="true">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-group"></i> </span>
                                    <h2>Unit Measures</h2>
                                </header>
                                <!-- widget div-->
                                <div>
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->

                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="table-responsive">
                                            <table id="tbl_unit_measure"
                                                class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Unit Measure ID</th>
                                                        <th>Unit Measure Name</th>
                                                        <th>Remark</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="data : ${unitMeasures}">
                                                        <td th:text="${data.unit_measure_id}"></td>
                                                        <td th:text="${data.unit_measure_name}"></td>
                                                        <td th:text="${data.remark}"></td>
                                                        <td>
                                                            <span th:if="${data.inactive} == true"
                                                                class="label label-danger">inactive</span>
                                                            <span th:if="${data.inactive} == false"
                                                                class="label label-success">active</span>
                                                        </td>
                                                        <td align="center">
                                                            <a th:href="${'/unit-measures/view/' + data.unit_measure_id}"
                                                                class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                                </div>
                                <!-- end widget div -->
                            </div>
                            <!-- end widget -->
                        </article>
                        <!-- WIDGET END -->
                    </div>
                    <!-- END ROW FOR TABLE -->
                </section>
                <!-- WIDGET GRID -->
                <th:block th:include="fragments/modals :: create-unit-measure"/>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN PANEL -->
        <th:block th:include="fragments/foot :: foot"/>
    </body>
</html>